extends default.pug

block content 
    form(method='POST')
        input(placeholder="Old Password" name="OldPassword")
        input(placeholder="New Password" type='password' name="NewPassword")
        input(placeholder="New Password Confirm" type='password' name="NewPassword_confirm")
        input(type="submit" value= "Change Password", placeholder="submit" )

    if errorMessage 
        span=errorMessage