extends default.pug 

block content
    #edit
        form(method="POST")
            input(name="title" value=`${video.title}` type="text" placeholder="title" required maxlength= 20)
            input(name="description" value=`${video.description}`  type="text" placeholder="description" required minlength=10)
            input(name="hashtags" value=`${video.hashtags}`  type="text" placeholder="hashtags" required)
            input(type="submit")