extends default.pug 
include ../mixins/videos.pug


block content 
    h1 Hello, Here's for you

    div.video-grid
        each video in videos 
            +video(video)

        else 
            span.empty__message No videos found
