extends default.pug 

block content
    h2 #{pageTitle}
    if errorMessage 
        span=errorMessage
    //- join페이지
    #login-form 
        h3 Login here
        form(method="POST")
            input(name="email", type="text", required, placeholder="email")
            input(name="username", type="text", required, placeholder="username")
            input(name="password", type="text", required, placeholder="password1")
            input(name="confirmpassword", type="text", required, placeholder="retype password")
            input(name="name", type="text", required, placeholder="name")
            input(name="location", type="text", required, placeholder="location")
            input(type="submit" value= "join", placeholder="submit")
        hr
        div 
            span Already Have an Account?
            a(href="/login") Log in Now &rarr;