extends default.pug

block content 
    h2 #{pageTitle}
    if errorMessage 
        span=errorMessage
    #login-form
        h3 Login here
        div 
            form(method="POST")
                input(type="text" name="username" required placeholder="Your id here")
                input(type="text" name="password" required placeholder="Your password here")
                input(type="submit" value="로그인")
                br

                include ../includes/social-login
            div.auth-switch 
                span Don't have an account?
                a(href="/join") Create one now &rarr;
